<div class="mainPage">
    <div class="container">
        <div class="row">
            <div class="user-courses col-xl-12 col-lg-12 col-md-12 col-12">
                <div class="row">
                    <h2 class="section-name text-center col-12">
                        <div class="row">
                            <p class="col-lg-10 col-sm-8 col-12">Your Courses</p>
                            <div class="col-lg-2 col-sm-4 col-12">
                                <a name="add-course" id="add-course" class=" btn btn-light" href="@Url.Action("Create","Instructor")" role="button">
                                    <i class="fa fa-plus-circle"></i>
                                    Add course
                                </a>
                            </div>
                        </div>
                    </h2>
                    <div class="course col-xl-3 col-lg-4 col-md-6 col-12">
                        <div class="card mx-auto">
                            <div class="mycard-img">
                                <img class="card-img-top" src="~/images/main img.jpg" alt="course Image">
                            </div>
                            <div class="card-body">
                                <h5 class="course-name card-title col-12 mx-auto text-center">C#</h5>
                                <div class="row text-center">
                                    <div class="edit-course col-6 mx-auto">
                                        <a href="toBeEditedCourse.html" class="control-button btn btn-primary">
                                            <i class="fa fa-minus-circle"></i>
                                            Edit
                                        </a>
                                    </div>
                                    <div class="remove-course col-6 mx-auto">
                                        <button class="control-button btn btn-danger">
                                            <i class="fa fa-times-circle"></i>
                                            Remove
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="course col-xl-3 col-lg-4 col-md-6 col-12">
                        <div class="card mx-auto">
                            <div class="mycard-img">
                                <img class="card-img-top" src="~/images/main img.jpg" alt="course Image">
                            </div>
                            <div class="card-body">
                                <h5 class="course-name card-title col-12 mx-auto text-center">C++</h5>
                                <div class="row text-center">
                                    <div class="edit-course col-6 mx-auto">
                                        <a href="toBeEditedCourse.html" class="control-button btn btn-primary">
                                            <i class="fa fa-minus-circle"></i>
                                            Edit
                                        </a>
                                    </div>
                                    <div class="remove-course col-6 mx-auto">
                                        <button class="control-button btn btn-danger">
                                            <i class="fa fa-times-circle"></i>
                                            Remove
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="course col-xl-3 col-lg-4 col-md-6 col-12">
                        <div class="card mx-auto">
                            <div class="mycard-img">
                                <img class="card-img-top" src="~/images/main img.jpg" alt="course Image">
                            </div>
                            <div class="card-body">
                                <h5 class="course-name card-title col-12 mx-auto text-center">Python</h5>
                                <div class="row text-center">
                                    <div class="edit-course col-6 mx-auto">
                                        <a href="toBeEditedCourse.html" class="control-button btn btn-primary">
                                            <i class="fa fa-minus-circle"></i>
                                            Edit
                                        </a>
                                    </div>
                                    <div class="remove-course col-6 mx-auto">
                                        <button class="control-button btn btn-danger">
                                            <i class="fa fa-times-circle"></i>
                                            Remove
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="course col-xl-3 col-lg-4 col-md-6 col-12">
                        <div class="card mx-auto">
                            <div class="mycard-img">
                                <img class="card-img-top" src="~/images/main img.jpg" alt="course Image">
                            </div>
                            <div class="card-body">
                                <h5 class="course-name card-title col-12 mx-auto text-center">Java</h5>
                                <div class="row text-center">
                                    <div class="edit-course col-6 mx-auto">
                                        <a href="toBeEditedCourse.html" class="control-button btn btn-primary">
                                            <i class="fa fa-minus-circle"></i>
                                            Edit
                                        </a>
                                    </div>
                                    <div class="remove-course col-6 mx-auto">
                                        <button class="control-button btn btn-danger">
                                            <i class="fa fa-times-circle"></i>
                                            Remove
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="course col-xl-3 col-lg-4 col-md-6 col-12">
                        <div class="card mx-auto">
                            <div class="mycard-img">
                                <img class="card-img-top" src="~/images/main img.jpg" alt="course Image">
                            </div>
                            <div class="card-body">
                                <h5 class="course-name card-title col-12 mx-auto text-center">VB</h5>
                                <div class="row text-center">
                                    <div class="edit-course col-6 mx-auto">
                                        <a href="toBeEditedCourse.html" class="control-button btn btn-primary">
                                            <i class="fa fa-minus-circle"></i>
                                            Edit
                                        </a>
                                    </div>
                                    <div class="remove-course col-6 mx-auto">
                                        <button class="control-button btn btn-danger">
                                            <i class="fa fa-times-circle"></i>
                                            Remove
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="course col-xl-3 col-lg-4 col-md-6 col-12">
                        <div class="card mx-auto">
                            <div class="mycard-img">
                                <img class="card-img-top" src="~/images/main img.jpg" alt="course Image">
                            </div>
                            <div class="card-body">
                                <h5 class="course-name card-title col-12 mx-auto text-center">PHP</h5>
                                <div class="row text-center">
                                    <div class="edit-course col-6 mx-auto">
                                        <a href="toBeEditedCourse.html" class="control-button btn btn-primary">
                                            <i class="fa fa-minus-circle"></i>
                                            Edit
                                        </a>
                                    </div>
                                    <div class="remove-course col-6 mx-auto">
                                        <button class="control-button btn btn-danger">
                                            <i class="fa fa-times-circle"></i>
                                            Remove
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
    </div>


