
<div class="mainPage">
    <div class="container">
        <div class="row">
            <div class="mx-auto text-center col-xl-4 col-lg-4 col-md-4 col-12">
                <div class="card mx-auto">
                    <div class="card-body">
                        <h3 class="manger card-title">Manger</h3>
                        <div>
                            <a href="addManagerOrInstructor.html" class="btn btn-success">
                                <span class="fa fa-user-plus"></span>
                                Add Manager
                            </a>
                        </div>
                        <div>
                            <a href="delete.html" class="btn btn-danger">
                                <span class="fa fa-user-times"></span>
                                Remove Manager
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mx-auto text-center col-xl-4 col-lg-4 col-md-4 col-12">
                <div class="card mx-auto">
                    <div class="card-body">
                        <h3 class="instructor card-title">Instructor</h3>
                        <div>
                            <a href="@Url.Action("Register","User")" class="btn btn-success">
                                <span class="fa fa-user-plus"></span>
                                Add Instructor
                            </a>
                        </div>
                        <div>
                            <a href="delete.html" class="btn btn-danger">
                                <span class="fa fa-user-times"></span>
                                Remove Instructor
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mx-auto text-center col-xl-4 col-lg-4 col-md-4 col-12">
                <div class="card mx-auto">
                    <div class="card-body">
                        <h3 class="course card-title">Course</h3>
                        <div>
                            <a href="addCourseDetails.html" class="btn btn-success">
                                <span class="fa fa-plus-circle"></span>
                                Add Course
                            </a>
                        </div>
                        <div>
                            <a href="delete.html" class="btn btn-danger">
                                <span class="fa fa-times-circle"></span>
                                Remove Course
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

